body{
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
}

#page1,#page2,#page3{
    height: 100vh;
    background: #000;
    display: grid;
    place-items: center;
    font-size: 3rem
}